/* font import */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  /* Primary colours */
  --p-clr-cyan: hsl(179, 62%, 43%);
  --clr-primary-cyan-light: hsl(179, 62%, 49%);
  --p-clr-bright-yellow: hsl(71, 73%, 54%);

  /* Neutral */
  --n-clr-light-gray: hsl(204, 43%, 93%);
  --n-clr-grayish-blue: hsl(218, 22%, 67%);

  /* Body copy */
  --fs-p: 1em;

  /* font */
  --ff: 'Karla', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--n-clr-light-gray);
  font-family: var(--ff);
  margin: 0 auto;
}

@media only screen and (max-width: 375px) {

  .card__column {
    display: flex;
    flex-direction: column;
    background: white;
    max-width: 70%;
    padding: 1.4em;
    border-radius: .3em .3em 0 0;
    margin: 0 auto;
  }

  .card__title {
    color: var(--p-clr-cyan);
    margin-bottom: 1em;
    font-size: Medium;
  }

  .card__subtitle {
    color: var(--p-clr-bright-yellow);
    font-size: smaller;
    margin-bottom: 1.5em;
  }

  .card__copy {
    color: var(--n-clr-grayish-blue);
    font-size: small;
    line-height: 1.8em;
  }

  .card__row {
    display: flex;
    flex-direction: column;
  }

  .card__subscription {
    background: var(--p-clr-cyan);
    min-width: 50%;
    padding: 1.5em;
    margin: 0 auto;
  }

  .card__header {
    color: white;
    margin-bottom: 1em;
    font-size: small;
  }

  span {
    color: white;
    font-size: 1.7em;
  }

  small {
    color: var(--n-clr-light-gray);
    font-size: .8em;
  }

  .subscription__copy {
    color: var(--n-clr-light-gray);
    font-size: .8em;
    margin-top: .7em;
    margin-bottom: 2em;
  }

  button {
    background: var(--p-clr-bright-yellow);
    color: white;
    font: var(--ff);
    font-size: 1em;
    min-width: 40%;
    padding: .6em 5em;
    border: none;
    border-radius: .3em
  }

  .card__why {
    background: var(--clr-primary-cyan-light);
    min-width: 70%;
    padding: 2em;
    margin: 0 auto;
    border-radius: 0 0 .3em .3em;
  }
  
  .card__list {
    color: var(--n-clr-light-gray);
    list-style-type: none;
    line-height: 1.5em;
    font-size: small;
  }
  
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__column {
  background: white;
  max-width: 38em;
  padding: 2em;
  border-radius: .35em .35em 0 0;
}

.card__title {
  color: var(--p-clr-cyan);
  margin-bottom: 1em;
}

.card__subtitle {
  color: var(--p-clr-bright-yellow);
  margin-bottom: .7em;
}

.card__copy {
  font-size: var(--fs-p);
  color: var(--n-clr-grayish-blue);
  line-height: 1.7em;
}

.card__row {
  display: flex;
}

.card__subscription {
  background: var(--p-clr-cyan);
  padding: 2em;
  border-radius: 0 0 0 .35em ;
}

.card__header {
  color: var(--n-clr-light-gray);
  margin-bottom: 1em;
}

span {
  font-size: 1.7em;
  font-weight: 700;
  color: white;
}

small {
  color: var(--n-clr-light-gray);
}

.subscription__copy {
  color: var(--n-clr-light-gray);
  font-size: var(--fs-p);
  margin-top: .5em;
  margin-bottom: 1.4em;
}

button {
  background: var(--p-clr-bright-yellow);
  font-family: var(--ff);
  color: white;
  border: none;
  padding: 1em 7.3em;
  border-radius: .3em;
}

.card__why {
  background: var(--clr-primary-cyan-light);
  width: 303px;
  padding: 2em;
  border-radius: 0 0 .35em 0;
}

.card__list {
  color: var(--n-clr-light-gray);
  list-style-type: none;
  font-size: 12px;
  line-height: 1.4em;
}

/* Attribution */

.attribution{
  position: absolute;
  bottom: 0;
}
